* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black; }

.outercontainer {
  width: 100%;
  position: relative;
  display: flex; }
  .outercontainer .ulcontainer {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    height: auto; }
    .outercontainer .ulcontainer:before {
      position: absolute;
      content: '';
      width: 0.3rem;
      background-color: #3fb1cd;
      height: 100%;
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
      height: 100%; }
    .outercontainer .ulcontainer ul {
      list-style: none;
      height: 100%; }
      .outercontainer .ulcontainer ul li {
        width: 50%;
        position: relative;
        margin-bottom: 2rem; }
        .outercontainer .ulcontainer ul li::after {
          position: absolute;
          background-color: burlywood;
          content: '';
          height: 1rem;
          width: 1rem;
          border-radius: 50%;
          top: 0; }
        .outercontainer .ulcontainer ul li .itemcontent {
          margin: 1rem;
          padding: 1rem;
          border-radius: 5%;
          background-color: cadetblue; }
        .outercontainer .ulcontainer ul li:nth-child(odd) {
          color: orangered;
          float: left;
          clear: right; }
          .outercontainer .ulcontainer ul li:nth-child(odd)::after {
            right: -0.5rem;
            top: 0%; }
        .outercontainer .ulcontainer ul li:nth-child(even) {
          color: orchid;
          float: left;
          clear: both;
          float: right;
          clear: left; }
          .outercontainer .ulcontainer ul li:nth-child(even)::after {
            left: -0.5rem;
            top: 0%; }
